@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  background-color: #161616;
  background-image: url(/images/Background.png);
  background-position: center center;
  background-repeat: no-repeat;
  overflow-x: hidden;
}
.skew-20 {
  transform: skewX(20deg);
}
.skew--20 {
  transform: skewX(-20deg);
}
.nav-container {
  border-bottom: solid 3px #fff;
}
.swiper-pagination {
  position: relative;
  bottom: 0;
  transform: translateY(100%);
  z-index: 1000000;
  background: #fff;
}
.carousel-image {
  height: 100%;
}
.carousel-image .overlay {
  filter: blur(2rem);
  z-index: -1;
}
.carousel-image img {
  height: 100%;
}
.nav-search {
  background: #4e3261;
  outline: none;
}
.dropdownNavbar {
  position: absolute;
  bottom: 0;
  left: 0;
  transform: translateY(100%);
  width: 100%;
}
.dropdown-items {
  padding: 10px 0;
  text-align: center;
  width: 90%;
  margin: auto;
  border-bottom: solid 1px #4e3261;
}
.dropdownNavbarLink:hover button {
  color: #4e3261;
}
.main-imgn {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}
.dir-rtl {
  direction: rtl;
}
.nav-item-active {
  background: #fff;
  color: #4e3261!important;
}
.pagination > * {
    opacity: .5;
    cursor: pointer;
}
.pagination > *.active {
    opacity: 1;
}